*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  color: whitesmoke;
  width: 100%;
  background: linear-gradient(90deg, rgb(0, 0, 48), rgb(63, 0, 0))
}

li, a{
  list-style: none;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.nav-links{
  display: flex;
  justify-content: space-between;
  min-width: 380px;
  width: 40%;
}

.nav-links li{
  padding: .5rem 1rem;
  border-radius: .3rem;
  cursor: pointer;
  /* background: rgba(76, 0, 255, 0.297); */
}

.container{
  width: 90%;
  margin:auto;
}

