*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  color: whitesmoke;
  width: 100%;
  min-height: 100vh;
  background:rgb(65, 0, 157);
}

li, a{
  list-style: none;
  text-decoration: none;
}

header{
  width:100%;
  background:linear-gradient(90deg, rgba(106, 0, 255, 0.3), rgba(255, 0, 132, 0.3));
  margin-bottom: 2rem;
}

nav{
  height: 70px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-links{
  display: flex;
  justify-content: space-between;
  min-width: 380px;
  width: 40%;
}

.btn{
  padding: .5rem 1rem;
  border-radius: .3rem;
  cursor: pointer;
  text-align: center;
  width: fit-content;
  border: none;
  color: inherit;
  /* background: rgba(76, 0, 255, 0.297); */
}

.container{
  min-width:400px;
  max-width: 1020px;
  width: 90%;
  margin:auto;
}

.if-title{
  text-align: center;
  margin-bottom: 2rem;
}

.task-input{
  width: 100%;
  height: 2rem;
  padding: 0 1rem 0 1rem;
  background: rgba(13, 86, 145, 0.365);
  border: none;
  border-radius: 1rem;
  margin: .5rem 0 1rem 0;
  color: whitesmoke;
}

.IF{
  max-width: 700px;
  margin: 0 auto 2rem;
  padding: 2rem;
  border-radius: .5rem;
  background: rgba(245, 245, 245, 0.166);
}

.task{
  width:100%;
  min-height: 4rem;
  height: fit-content;
  background: linear-gradient(90deg, rgba(75, 0, 0, 0.3), rgba(0, 0, 84, 0.3)) ;
  border-radius: .5rem;
  margin-bottom: .5rem;
  padding: 1rem 1rem;
}

.task h3{
  display: flex;
  justify-content: space-between;
}

.tasks{
  background:rgba(39, 0, 101, .5);
  border-radius: 1rem;
  padding: 2rem;
  min-height: 50vh;
  height: fit-content;
}

.remind{
  /* border-left: .3rem solid yellow; */
  box-shadow: 0 0 .3rem  yellow;
}

.add-form{
  padding: 2rem;
  background:rgba(39, 0, 101, .5);
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.form-control{
  margin-bottom: 1rem;
}

.form-control *{
  align-items: center;
  width: 100%;
}

.form-control:last-of-type{
  display:flex;
  justify-content: left;
  align-items: center;
}

.form-control:last-of-type *{
  width: 8rem;
}

.form-control input{
  padding: .8rem;
  font-size: 1.2rem;
  border: none;
  background:rgba(11, 10, 10, 0.365);
  border-radius: 1rem;
  color: rgb(183, 206, 255);
}

.form-control label{
  margin: 0 0 .5rem 1rem;
  display: block;
}

.btn-block{
  color: rgb(0, 0, 60);
  font-size: 1.5rem;
  width: 100%;
  display: block;
}

footer{
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.footer-content{
  font-size: .8rem;
  display: flex;
  justify-content: space-between;
  height: 6rem;
  align-items: center;
  color: rgba(245, 245, 245, 0.4);
  margin-top: 2rem;
}